@model SistemaAerolinea.ViewModels.VueloViewModel

@{
    ViewData["Title"] = "Comprar";
}

@section css {
    <link rel="stylesheet" href="~/css/comprar.css" />
}


<h1 class="titulo">Confirmar compra</h1>

<div class="step-progress">
    <i class="fa fa-check actual procesado" aria-hidden="true"></i>
    <span class="procesado"></span>
    <i class="fa fa-dot-circle-o actual" aria-hidden="true"></i>
    <span></span>
    <i>3</i>
</div>

<div class="comprar row">
    <div class="datos datos-container col-12 col-sm-12 col-md-10 col-lg-5 col-xl-5">
        <div class="datos-pasajero">
            <h4>Datos del pasajero</h4>
            <div>
                <p><b>Nombre: </b>@Model.Usuario.Nombre</p>
                <p><b>Apellido: </b>@Model.Usuario.Apellido</p>
                <p><b>Email: </b>@Model.Usuario.Email</p>
            </div>
        </div>
        <div class="datos-vuelo">
            <h4>Datos del vuelo</h4>
            <div>
                <p><b>Número de vuelo: </b>@Model.Vuelo.VueloId</p>
                <p><b>Origen: </b>@Model.Vuelo.Origen</p>
                <p><b>Destino: </b>@Model.Vuelo.Destino</p>
                <p><b>Fecha y hora de salida: </b>@Model.Vuelo.HoraFechaSalida</p>
                <p><b>Fecha y hora de llegada: </b>@Model.Vuelo.HoraFechaLlegada</p>
                <p><b>Costo del pasaje: </b>$@Model.Vuelo.CostoPasaje</p>
            </div>
        </div>
    </div>
    <div class="datos datos-tarjeta col-12 col-sm-12 col-md-10 col-lg-5 col-xl-5">
        <h4>Datos de la tarjeta</h4>
        <form asp-controller="Reserva" asp-action="Reservar" id="card-form" method="POST">

            <div class="grupo form-group">
                <i class="fa fa-user fa-2x icon"></i>
                <div class="position-relative w-100">
                    <input class="form-control text-secondary" name="titular" required />
                    <label class="label-name">
                        <span class="content-name text-secondary">Titular</span>
                    </label>
                </div>
                <span class="text-danger mensaje-error"></span>
            </div>

            <div class="grupo form-group">
                <i class="fa fa-credit-card fa-2x icon logoTarjeta"></i>
                <div class="position-relative w-100">
                    <input class="form-control inputTarjeta text-secondary" minlength="0" maxlength="19" name="nroTarjeta" required />
                    <label class="label-name">
                        <span class="content-name text-secondary">Número</span>
                    </label>
                </div>
                <span class="text-danger mensaje-error"></span>
            </div>

            <div class="botones">
                <input type="submit" value="Comprar" class="boton botoncomprar btn-success" />
                <!--Debería redireccionar a la página anterior con la lista de vuelos.-->
                <a class="volver" asp-action="Index" asp-controller="Home">Volver</a>
            </div>
        </form>
    </div>
</div>

    @section Scripts
{
        <script src="~/js/comprar-script.js"></script>
    }
